{{define "EtablishmentCard"}}
    <div class="card">
        <a href="/etablissement/{{.Id}}" class="core">
            <div class="content">
                <img src="/static/barber.svg" class="categoryIcon" />
                <div>
                    <h1 class="name">{{.Name}}</h1>
                    <p class="category">{{.Category}}</p>
                    <div class="rating">
                        <img src="/static/starfill.svg" class="star" />
                        <img src="/static/starfill.svg" class="star" />
                        <img src="/static/starfill.svg" class="star" />
                        <img src="/static/star.svg" class="star" />
                        <img src="/static/star.svg" class="star" />
                    </div>
                </div>
            </div>
            <div class="metadata">
                <svg class="icon" viewBox="-4 0 32 32" version="1.1">
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                        <g id="Icon-Set" sketch:type="MSLayerGroup" transform="translate(-104.000000, -411.000000)" fill="var(--text-color-helper)">
                            <path d="M116,426 C114.343,426 113,424.657 113,423 C113,421.343 114.343,420 116,420 C117.657,420 119,421.343 119,423 C119,424.657 117.657,426 116,426 L116,426 Z M116,418 C113.239,418 111,420.238 111,423 C111,425.762 113.239,428 116,428 C118.761,428 121,425.762 121,423 C121,420.238 118.761,418 116,418 L116,418 Z M116,440 C114.337,440.009 106,427.181 106,423 C106,417.478 110.477,413 116,413 C121.523,413 126,417.478 126,423 C126,427.125 117.637,440.009 116,440 L116,440 Z M116,411 C109.373,411 104,416.373 104,423 C104,428.018 114.005,443.011 116,443 C117.964,443.011 128,427.95 128,423 C128,416.373 122.627,411 116,411 L116,411 Z" id="location" sketch:type="MSShapeGroup"></path>
                        </g>
                    </g>
                </svg>
                <p>{{.Adresse}}, {{.Postal}}</p>
            </div>
            <div class="metadata">
                <svg class="icon" viewBox="0 0 24 24" fill="none" stroke="var(--text-color-helper)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z"></path>
                </svg>
                <p>{{.Phone}}</p>
            </div>
            <div class="metadata">
                <svg class="icon" viewBox="0 0 33.866664 33.866682">
                  <g
                     id="layer1"
                     transform="translate(-78.394371,-112.55541)">
                    <circle
                       style="fill:none;stroke:var(--text-color-helper);stroke-width:2.43843;stroke-dasharray:none;stroke-opacity:1"
                       cx="95.327705"
                       cy="129.48874"
                       r="15.184959" />
                    <rect
                       style="fill:none;stroke:var(--text-color-helper);stroke-width:2.34762;stroke-dasharray:none;stroke-opacity:1"
                       width="0.33770394"
                       height="9.5379772"
                       x="95.158867"
                       y="120.0871"
                       ry="0.083666474" />
                    <rect
                       style="fill:none;stroke:var(--text-color-helper);stroke-width:2.04988;stroke-dasharray:none;stroke-opacity:1"
                       width="0.29440054"
                       height="8.341773"
                       x="33.80965"
                       y="-168.17717"
                       ry="0.073173441"
                       inkscape:transform-center-y="2.5311686"
                       transform="matrix(-0.72187665,0.69202175,-0.74856193,-0.66306488,0,0)"
                       inkscape:transform-center-x="-2.8575292" />
                  </g>
                </svg>
                <p>{{.TodaySchedule}}</p>
            </div>
        </a>
        <div class="footer">
            <div class="share">
                <div class="share-group instagram">
                    <img src="/static/instagram.svg" class="icon" />
                </div>
                <div class="share-group favorite">
                    <svg viewBox="0 0 24 24" fill="none" class="icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke="var(--text-color)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                </div>
            </div>
            <a href="/etablissement/{{.Id}}/rendez-vous/nouveau" class="appointmentBtn btn-primary">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                  <line x1="16" y1="2" x2="16" y2="6"></line>
                  <line x1="8" y1="2" x2="8" y2="6"></line>
                  <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
                <p>Rendez-vous</p>
            </a>
        </div>
    </div>
{{end}}
