.container{
    max-width: 1200px;
    margin: 0 auto;
    container: schedule / inline-size;
    .etablishment{
        display: flex;
        gap: .5rem;
        margin-block: 1rem;
        .photo{
            width: 80px;
            aspect-ratio: 1/1.5;
            border-radius: 10px;
            background-color: gray;
        }
        .info{
            .name{
                font-size: 1.1rem;
            }
            .category{
                margin-bottom: .3rem;
            }
            .metadata{
                display: flex;
                gap: .3rem;
                margin-bottom: .3rem;
                .icon{
                    height: 1.5rem;
                    aspect-ratio: 1/1;
                }
            }
            .rating{
                display: flex;
                gap: .3rem;
                margin-bottom: .3rem;
                .star{
                    height: 1.5rem;
                }
            }
            .btn{
                padding: .5rem 1rem;
                background: var(--primary-color);
                border-radius: 5px;
                font-weight: 600;
                display: inline-block;
                cursor: pointer;
                color: white;
                &:hover{
                    background-color: var(--primary-color-hover);
                }
            }
        }
    }
    .service{
        margin-bottom: 1rem;
        container: service / inline-size;
        .list{
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            .card{
                width: 100%;
                background-color: var(--card-color);
                border-radius: 10px;
                box-shadow: var(--card-shadow);
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .header{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid var(--border-color);
                    padding: 15px;
                    .name{
                        font-size: 1.1rem;
                    }
                    .discount-tag{
                        padding-inline: 10px;
                        background-color: var(--warning-fg);
                        border-radius: 25px;
                        color: oklch(0.33 0.07 53.32);
                    }
                }
                .description{
                    color: var(--text-color-helper);
                    padding: .5rem 15px;
                    text-wrap: stable;
                }
                .footer{
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid var(--border-color);
                    padding: 15px;
                    .footer-time{
                        display: flex;
                        gap: .5rem;
                        .icon{
                            height: 16px;
                            aspect-ratio: 1/1;
                        }
                    }
                }
                @container service (min-width: 474px) {
                    width: 230px;
                }

            }
            .service-unknow{
                background-color: var(--card-color);
                border-radius: 10px;
                padding: 15px;
                text-align: center;
                width: 100%;
                .icon{
                    width: 64px;
                    aspect-ratio: 1/1;
                }
                .title{
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                }
            }
        }
    }
    .schedule{
        border-radius: 10px;
        background-color: var(--card-color);
        box-shadow: var(--card-shadow);
        .schedule-header{
            padding: 15px;
            border-bottom: 1px solid var(--border-color);
            .title{
                font-size: 1.5rem;
            }
            .title-helper{
                color: var(--text-color-helper);
                font-size: .9rem;
            }
        }
        .shifts{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 15px;
            .schedule-card{
                border-radius: 5px;
                padding: .8rem;
                width: 100%;
                outline: 1px solid var(--border-color);
                .label{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: .3rem;
                    .dayName{
                        font-size: 1.1rem;
                    }
                }
                .text, .status{
                    font-size: .9rem;
                    font-weight: 400;
                }
                @container schedule (min-width: 748px){
                    width: 47%;
                }
                @container schedule (min-width: 1000px){
                    width: 31%;
                }
            }
            .open{
                pointer-events: none;
                .status{
                    color: var(--success-color);
                }
            }
            .close{
                pointer-events: none;
                .status{
                    color: var(--error-fg);
                }
            }
        }
    }

    .section_name{
        font-size: 2rem;
        text-align: center;
        margin-block: 1rem;
    }

    .galery{
        display: flex;
        gap: 1.5rem;
        margin-block: .5rem;
        flex-wrap: wrap;
        .btn{
            width: calc(50% - (1.5rem / 2));
            aspect-ratio: 1/1;
            border-radius: 20px;
            border: 1px solid var(--border-color);
            @container schedule (min-width: 730px){
                width: calc(25% - (1.5rem * 3 / 4))
            }
            .photo{
                width: 100%;
                height: 100%;
            }
        }
    }

    .review{
        display: flex;
        justify-content: space-evenly;
        container: review / inline-size;
        gap: 1rem;
        .review-card{
            border-radius: 10px;
            padding: 15px;
            margin-block: .5rem;
            background-color: var(--card-color);
            color: var(--text-color);
            box-shadow: var(--card-shadow);
            width: 320px;
            @container review (max-width: 970px){
                &:nth-child(3){
                    display: none;
                }
            }
            @container review (max-width: 700px){
                &:nth-child(2){
                    display: none;
                }
                width: 100%;
            }
            .user{
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: .5rem;
                .name{
                    font-size: 1.1rem;
                }
                .date{
                    color: gray;
                }
                .rating{
                    display: flex;
                    gap: .3rem;
                    .star{
                        height: 1.5rem;
                    }
                }
            }
        }
    }
}
