@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

@property --hover{
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

:root{
    --hover: 0%;
    --card-shadow: 0px 3px 5px 2px rgba(140,140,140,0.4);
    --bg-color: #f1f1f1;
    --card-color: white;
    --planning-card-confirmed: #f0fdf4;
    --planning-card-completed: #eff6ff;
    --text-color: black;
    --text-color-helper: #4a505d;
    --primary-color: linear-gradient(140deg, #2624f3 var(--hover), #6664fc 100%);
    --primary-color-hover: #0c0ac9;
    --border-color: #C9C9C9;
    --hover-color: #e7e7e7;
    --input-color: #e7e7e7;
    --button-bg-disabled: #e9e9e9;
    --warning-btn-color: #ef4444;
    --warning-btn-color-hover: #dc2626;
    --etablishment-appointment-color: #FFC629;
    --appointment-color: #93C5FF;

    --card-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

    --success-color: #35b14a;

    --icon-color: 0;
    --success-bg: #6fff83;
    --success-fg: #076d01;
    --warning-bg: oklch(0.94 0.05 53.1);
    --warning-fg: oklch(0.68 0.12 55.15);
    --error-bg: #ff646b;
    --error-fg: #690000;
}

@media (prefers-color-scheme: dark) { 
    :root {
        --bg-color: #101010;
        --text-color: white;
        --card-color: #181818;
        --border-color: #2b2b2b;
        --hover-color: #2b2929;
        --button-bg-disabled: #2d2d2d;
        --text-color-helper: #a5acb9;
        --icon-color: 1;
        --planning-card-completed: #1b242f;
        --planning-card-confirmed: #152319;
    }
    input, textarea, select {
        color-scheme: dark;
    }
}

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Atkinson Hyperlegible Next", serif;
    font-size: 14px;
    color: var(--text-color);
}

body{
    background-color: var(--bg-color);
}

main{
    margin-inline: 1rem; 
    min-height: calc(100vh - 50px);
}


@keyframes notification{
    20%{
        opacity: 1;
        right: 10px;
    }
    80%{
        opacity: 1;
        right: 10px;
    }
    100%{
        opacity: 0;
        right: -150px;
        display: none;
    }
}

#notification{
    position: fixed;
    top: 4rem;
    right: -150px;
    min-height: 5rem;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    gap: .5rem;
    opacity: 0;
    z-index: 1;
    animation: notification 3s linear forwards;
    .icon{
        width: 1.5rem;
        aspect-ratio: 1/1;
    }
    .n-title{
        font-size: 1.1rem;
    }
    .n-msg, .n-title{
        color: black;
    }
}

nav{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    background: var(--card-color);
    .logo{
        height: 2rem;
        aspect-ratio: 1/1;
    }
    .navigation{
        display: flex;
        gap: 1rem;
        .navbar-btn{
            height: 2.5rem;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            .icon{
                height: 1.5rem;
                aspect-ratio: 1/1;
            }
        }
        .custom-select{
            position: relative;
            outline: 1px solid var(--border-color);
            max-width: 150px;
            border-radius: 5px;
            height: 2.5rem;
            display: flex;
            align-items: center;
            #employee{
                border-radius: 5px;
                outline: 1px solid var(--border-color);
                background-color: var(--card-color);
                appearance: none;
                border: none;
                width: 100%;
                height: 100%;
                padding-right: 26px;
                padding-left: 10px;
            }
            .arrow{
                position: absolute;
                right: 5px;
                border: 4px solid var(--text-color);
                border-top: 4px solid transparent;
                border-left: 4px solid transparent;
                transform: rotate(45deg);
                transition: transform 200ms linear;
            }
            #employee:open + .arrow{
                transform: rotate(-135deg);
            }
        }

        .menu[open]{
            transform: translateX(0px);
            &::backdrop{
                background-color: rgba(0,0,0,.4);
                backdrop-filter: blur(2px);
            }
        } 
        .menu{
            position: fixed;
            display: block;
            min-height: 100%;
            width: 300px;
            inset: unset;
            right: 0px;
            top: 0px;
            border: none;
            border-radius: 10px 0px 0px 10px;
            transform: translateX(300px);
            transition: 
            transform 500ms cubic-bezier(.27,.28,.09,.99), 
            display 500ms linear allow-discrete, 
            overlay 500ms linear allow-discrete;
            background-color: var(--card-color);
            &::backdrop{
                background-color: rgba(0,0,0,0);
                transition: 
                background-color 500ms,
                display 500ms linear allow-discrete,
                overlay 500ms linear allow-discrete;
            }
            .menu-header{
                padding: 15px;
                display: grid;
                grid-template-columns: .2fr 1fr .2fr;
                gap: .5rem;
                .user-photo{
                    height: 2.5rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    background-color: purple;
                }
                #closeMenu{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    height: 2.5rem;
                    border: none;
                    outline: none;
                    &::after{
                        position: absolute;
                        content: "";
                        width: 1.25rem;
                        height: 3px;
                        background-color: var(--text-color);
                        rotate: 135deg;
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        width: 1.25rem;
                        height: 3px;
                        background-color: var(--text-color);
                        rotate: 45deg;
                    }
                }
            }
            .navigate{
                border-bottom: 1px solid var(--border-color);
                .nav-path{
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    line-height: 2.5rem;
                    padding-inline: 15px;
                    cursor: pointer;
                    .icon{
                        height: 1.5rem;
                        aspect-ratio: 1/1;
                    }
                }
            }  
            .sub-section{
                border-bottom: 1px solid var(--border-color);
                .sub-header{
                    color: var(--text-color-helper);
                    padding: 10px 15px;
                    font-size: 1.2rem;
                }
                .employeeSwitch{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 5px 15px;
                    width: 100%;
                    border: none;
                    background-color: transparent;
                    line-height: 2rem;
                    text-align: start;
                    cursor: pointer;
                    transition: background-color 200ms linear;
                    &:hover{
                        background-color: var(--hover-color);
                    }
                }
                .employeeSwitch.current{
                    &::after{
                        position: relative;
                        content: "";
                        width: 10px;
                        height: 10px;
                        display: block;
                        border-radius: 50%;
                        background: var(--primary-color);
                    }
                }
                .sub-btn{
                    display: block;
                    border-radius: 5px;
                    padding: 5px 1rem;
                    width: calc(100% - 30px);
                    font-weight: 500;
                    margin: 0rem auto .5rem;
                }
            }
            .logoutBtn{
                width: calc(100% - 30px);
                margin: .5rem auto;
                padding: 5px 10px;
                border-radius: 5px;
                display: flex;
                gap: .5rem;
                font-weight: 500;
                .icon{
                    height: 1.5rem;
                    aspect-ratio: 1/1;
                }
            }
        }
        @starting-style{
            .menu[open]{
                transform: translateX(300px);
                &::backdrop{
                    background-color: rgba(0,0,0,0);
                }
            }
        }
        .user{
            border-radius: 5px;
            outline: 1px solid var(--border-color);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 0;
            .picture{
                height: 2.5rem;
                aspect-ratio: 1/1;
                border-radius: inherit;
                outline: 1px solid var(--border-color);
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .arrow{
                margin-inline: 13.5px;
                border: 4px solid var(--text-color);
                border-top: 4px solid transparent;
                border-left: 4px solid transparent;
                transform: rotate(45deg);
                transition: transform 200ms linear;
            }
            #navigation:popover-open + .arrow{
                transform: rotate(-135deg);
            }
        }
    }
    &:has(:not(#search:popover-open)){
        border-bottom: 2px solid var(--border-color);
    }
    &:has(#search:popover-open){
        border-bottom: none;
    }
    #search{
        position: fixed;
        top: 50%;
        left: 0;
        width: 400px;
        margin: 0 auto;
        padding: .8rem;
        background-color: var(--card-color);
        border-radius: calc(.8rem + 10px);
        transition: all .3s linear;
        transform: translateY(-50%);
        &::backdrop{
            background-color: rgba(0,0,0,.6);
            backdrop-filter: blur(5px);
        }
        .search-header{
            display: flex;
            justify-content: space-between;
            margin-bottom: .5rem;
            .header-title{
                font-size: 1.3rem;
            }
            #closeSearchModalBtn{
                height: 2rem;
                aspect-ratio: 1/1;
                border-radius: 2rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: var(--border-color);
                }
                .icon{
                    width: 1rem;
                    height: 1rem;
                }
            }
        }
        .field{
            .input{
                width: 100%;
                height: 2.5rem;
                border-radius: 10px;
                padding-inline: 10px;
                background-color: var(--input-color);
                background-color: var(--bg-color);
                &:first-child{
                    margin-bottom: .5rem;
                }
            }
            #s-location{
                margin-bottom: 0;
                padding-right: 36px;
            }
            .my-position{
                position: absolute;
                right: 10px;
                top: calc((-24px) + (2.5rem / 2) + 12px);
                padding: 0;
                display: flex;
                .icon{
                    width: 24px;
                    aspect-ratio: 1/1;
                }
            }
        }
        #suggest-addr{
            .suggest{
                line-height: 2rem;
                font-weight: bold;
                display: block;
                width: 100%;
                text-align: start;
                padding-inline: 10px;
                cursor: pointer;
                transition: background-color 200ms linear;
                &:first-child{
                    margin-top: .5rem;
                }
                &:hover{
                    background-color: var(--hover-color);
                }
            }
        }
    }
    .signBtn{
        padding: .5rem;
        border-radius: 5px;
        background: var(--primary-color);
        font-weight: 600;
        color: white;
    }
}

footer{
    background-color: var(--card-color);
    container: footer / inline-size;
    margin-top: 1rem;
    border-top: 1px solid var(--border-color);
    box-shadow: var(--card-shadow);
    .footer-bottom{
        padding-block: 1.5rem 1rem;
        text-align: center;
    }
}

.btn-disable{
    pointer-events: none;
}

.btn-primary {
    background: linear-gradient(140deg, #2624f3 var(--hover), #6664fc 100%);
    color: white;
    border: none;
    &:hover {
        --hover: 100%;
    }
}

.btn-outline {
    background-color: transparent;
    outline: 1px solid var(--border-color);
    color: var(--text-color);
    &:hover{
      background-color: var(--hover-color);
    }
}

.btn-danger {
    background-color: var(--warning-btn-color);
    color: white;
    &:hover {
        background-color: var(--warning-btn-color-hover);
    }
}

.btn-success {
    background: #10b981;
    color: white;
    &:hover{
        background-color: #059669;
    }
}

.btn-danger, .btn-primary, .btn-outline, .btn-success{
    cursor: pointer;
    transition: --hover 200ms linear, background 200ms linear;
}

button{
    background-color: transparent;
    border: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

*[popover]{
    margin: auto;
}

*[popover]::backdrop{
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(3px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, textarea{
    padding: 0;
    background-color: var(--card-color);
    outline: 1px solid var(--border-color);
    transition: outline-color 0.15s ease;
    &::-webkit-outer-spin-button, ::-webkit-inner-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type="time"]::-webkit-calendar-picker-indicator {
   filter: invert(var(--icon-color));
}

input:focus, textarea:focus, select:focus{
    outline-color: #2624f3 !important;
    box-shadow: 0 0 2px 2px rgb(38 36 243 / 65%);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgray; 
}

.hidden{
    display: none !important;
}

