@import "/static/appointment.css";
@import "/static/parametre.css";
.my-etablishment{
    max-width: 1200px;
    margin: 1rem auto;
    .header{
        display: flex;
        justify-content: space-between;
        margin-block: .5rem;
        #header-title{
            font-size: 1.5rem;
        }
        .command{
            display: flex;
            align-items: center;
            gap: 1rem;
            .btn{
                border-radius: 5px;
                font-weight: 600;
                display: flex;
                align-items: center;
                height: 2rem;
                padding-inline: .5rem;
            }
        }

    }
    .navigation::-webkit-scrollbar {
        display: none;
    }
    .navigation{
        display: flex;
        overflow-x: scroll;
        width: 100%;
        border-radius: 25px;
        margin-block: 1rem;
        text-wrap-mode: nowrap;
        background-color: var(--card-color);
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        box-shadow: var(--card-shadow);
        .nav-btn{
            line-height: 2.5rem;
            padding-inline: 1rem;
            border: none;
            border-radius: 25px;
            background-color: transparent;
            cursor: pointer;
        }
        .nav-btn.selected{
            background-color: var(--primary-color);
            font-weight: 600;
            color: white;
        }
    }
    #content{
        container: info / inline-size;
        .infos{
            @container info (min-width: 1000px){
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(2, 1fr); 
            }
        }
        .dashboard-card{
            outline: 1px solid var(--border-color);
            padding: 1rem;
            border-radius: 15px;
            margin-bottom: 1rem;
            background-color: var(--card-color);
            .dashboard-card-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                line-height: 2.5rem;
                margin-bottom: 1rem;
                .header-title{
                    font-size: 1.2rem;
                }
                .header-action{
                    outline: 1px solid var(--border-color);
                    border-radius: 25px;
                    .header-btn{
                        line-height: 2.5rem;
                        padding-inline: 1rem;
                        border-radius: 25px;
                        cursor: pointer;
                    }
                    .header-btn.selected{
                        background-color: var(--primary-color);
                    }
                }
            }
            .gains{
                height: 300px;
                width: 100%;
                overflow-x: scroll;
                display: flex;
                gap: .5rem;
                align-items: flex-end;
                scrollbar-color: var(--text-color) var(--card-color);
                .scale{
                    width: 80px;
                    display:flex;
                    flex-direction:column;
                    .rect{
                        position: relative;
                        border-radius: 5px;
                        background-color: purple;
                        width: 80px;
                        transition: height 300ms linear;
                        @starting-style{
                            height: 0px;
                        }
                        .amount{
                            position: absolute;
                            top: -2.3rem;
                            display: block;
                            border-radius: 25px;
                            width: 100%;
                            line-height: 2rem;
                            background-color: var(--border-color);
                            text-align: center;

                        }
                    }
                }
            }
            .employee-perf, .dashboard-appointment{
                display: flex;
                align-items: center;
                gap: .5rem;
                outline: 1px solid var(--border-color);
                padding: .4rem;
                border-radius: calc(.4rem + .5rem);
                margin-bottom: .5rem;
                .preview{
                    height: 2.6rem;
                    aspect-ratio: 1 / 1;
                    border-radius: .5rem;
                    outline: 1px solid var(--border-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .content{
                    width: 100%;
                    .name{
                        font-size: 1.1rem;
                    }
                    .title{
                        font-size: .9rem;
                    }
                }
                .numbers{
                    background-color: var(--border-color);
                    line-height: 2.6rem;
                    width: 8rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: calc(.5rem);
                }
            }
            .dashboard-appointment{
                grid-template-columns: .1fr 1.5fr .2fr;
            }
            .no-data{
                text-align: center;
                .icon{
                    height: 3rem;
                }
            }
        }
        .new_employee{
            display: grid;
            grid-template-columns: 1fr .2fr;
            gap: 1rem;
            margin-bottom: 1rem;
            .input{
                line-height: 1.5rem;
                width: 100%;
                border-radius: 5px;
                padding: 5px;
            }
            .submitBtn{
                line-height: 2rem;
                background-color: var(--primary-color);
                color: white;
                font-weight: bold;
            }
        }
        .employee{
            border-radius: 10px;
            background-color: white;
            padding: 10px;
            .person{
                line-height: 2.5rem;
                display: flex;
                gap: 1rem;
                .name{
                    font-size: 1.2rem;
                }
                .photo{
                    width: 2.5rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                }
            }
        }
        .schedule{
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(340px, auto));
            gap: 1rem;
            .day{
                background-color: var(--card-color);
                border-radius: 10px;
                padding: 10px;
                box-shadow: var(--card-shadow);
                width: 100%;
                .description{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: .3rem;
                    .label{
                        font-size: 1.1rem;
                    }
                    .close{
                        padding: 0;
                    }
                    .newShiftBtn{
                        height: 1.5rem;
                        aspect-ratio: 1/1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &::after, &::before{
                            content: "";
                            position: absolute;
                            height: 1.5rem;
                            width: 2px;
                            border-radius: 25px;
                            background-color: var(--text-color);
                        }
                        &::before{
                            transform: rotate(90deg);
                        }
                    }
                }
                .shift{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: .8rem;
                    gap: 1rem;
                    &:last-child{
                        margin-bottom: 0rem;
                    }
                    .input{
                        width: 100%;
                        line-height: 2rem;
                        padding-inline: 5px;
                        border-radius: 5px;
                    }
                }
            }
            .icon{
                width: 1.5rem;
                aspect-ratio: 1/1;
            }
        }

        #service{
            .main-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 1rem;
                .title{
                    font-size: 1.5rem;
                }
                .newBtn{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    outline: none;
                    width: 2.5rem;
                    height: 2.5rem;
                    border-radius: 50%;
                    &::after, &::before{
                        content: "";
                        position: absolute;
                        height: 5px;
                        width: 1.5rem;
                        border-radius: 25px;
                        background-color: var(--text-color);
                    }
                    &::before{
                        transform: rotate(90deg);
                    }
                }
            }
            .service{
                max-width: 1000px;
                box-shadow: var(--card-shadow);
                border-radius: 10px;
                margin-bottom: 1rem;
                container: large / inline-size;
                background-color: var(--card-color);
                .service-header{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 15px;
                    border-bottom: 1px solid var(--border-color);
                    .header-title{
                        font-size: 1.2rem;
                    }
                    .command{
                        display: flex;
                        justify-content: flex-end;
                        gap: 1rem;
                        .btn{
                            padding: .5rem 1rem;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: .5rem;
                            .icon{
                                width: 1.5rem;
                                aspect-ratio: 1/1;
                            }
                        }
                    }
                }
                .body{
                    display: flex;
                    gap: 1rem;
                    padding: 15px;
                    .form-group{
                        width: 100%;
                        .field{
                            width: 100%;
                            margin-bottom: .5rem;
                            .form-input{
                                width: 100%;
                                height: 1.5lh;
                                border-radius: 5px;
                                padding-inline: 10px;
                                border: none;
                                outline: 1px solid var(--border-color);
                            }
                        }
                        .form-label{
                            display: block;
                            margin-bottom: .3rem;
                            color: var(--text-color-helper);
                            font-size: .9rem;
                        }
                        .doubleField{
                            display: flex;
                            gap: .5rem;
                        }
                        #description{
                            width: 100%;
                            border-radius: 5px;
                            resize: none;
                            height: 83%;
                            padding: 5px;
                        }
                    }
                    @container large (max-width: 600px){
                        display: block;
                        .form-group{
                            #description{
                                height: calc(3lh + 12px);
                            }
                        }
                    }
                }
            }
        }
        
        .appointment-status{
            display: flex;
            justify-content: space-evenly;
            gap: 1rem;
            margin-bottom: 1rem;
            .appointmentBtn{
                line-height: 2rem;
                border-radius: 5px;
                background-color: var(--card-color);
                outline: 1px solid var(--border-color);
                width: 300px;
            }
            .tab_selected{
                outline: 2px solid var(--primary-color);
                font-weight: bold;
                color: var(--primary-color);
            }
        }
        #appointment-cards{
            width: 100%;
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            .appointment{
                margin-block: 0;
            }
        }
        #new-employe{
            position: relative;
            margin-bottom: 1rem;
            .input{
                width: 100%;
                line-height: 2.5rem;
                padding-inline: 10px;
                border-radius: 25px;
            }
            .input:focus ~ #employe-sugg{
                display: block;
            }
            #employe-sugg{
                display: none;
                position: absolute;
                top: 3rem;
                left: 0;
                width: 100%;
                background-color: var(--card-color);
                outline: 1px solid var(--border-color);
                z-index: 1;
                &:hover{
                    display: block;
                }
                .proposal{
                    line-height: 2rem;
                    display: block;
                    width: 100%;
                    text-align: start;
                    cursor: pointer;
                    padding-inline: 10px;
                    &:hover{
                        background-color: var(--hover-color);
                    }
                }
            }
        }
        .employee-list{
            display: flex;
            gap: 2rem;
            flex-wrap: wrap;
            container: card / inline-size;
            .employee-card{
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 15px;
                padding: 10px;
                width: 100%;
                background-color: var(--card-color);
                box-shadow: var(--card-shadow);
                @container card (width >= 600px){
                    width: clamp(300px, calc(100% / 2 - 1rem), 750px);
                }
                @container card (width >= calc(900px - 4rem)){
                    width: clamp(calc(300px - 2rem), calc(100% / 3 - 1.35rem), 900px);
                }
                .picture{
                    height: 4rem;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: .5rem;
                }
                .name{
                    font-size: 1.1rem;
                }
                .more{
                    color: var(--text-color-helper);
                }
                .actions{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;
                    width: 100%;
                    .actionBtn{
                        line-height: 2.5rem;
                        border-radius: 5px;
                        padding-inline: 1rem;
                    }
                    .confirmation{
                        background-color: var(--card-color);
                        padding: 10px;
                        border-radius: 10px;
                        width: 300px;
                        .command{
                            display: flex;
                            gap: 1rem;
                            justify-content: space-between;
                            .btn{
                                padding-inline: 1rem;
                                line-height: 2rem;
                                border-radius: 5px;
                            }
                        }
                    }
                }

                .employee-schedule{
                    width: 330px;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: var(--card-color);
                    .day{
                        display: grid;
                        grid-template-columns: .8fr .9fr .2fr .9fr .2fr;
                        gap: .4rem;
                        margin-bottom: 1rem;
                        line-height: 2rem;
                        input{
                            border-radius: 5px;
                            padding-inline: 5px;
                        }
                        .resetBtn{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .icon{
                                height: 1.5rem;
                                aspect-ratio: 1/1;
                            }
                        }
                    }
                    .btn{
                        line-height: 2rem;
                        background-color: var(--primary-color);
                        color: white;
                        font-weight: bold;
                        border-radius: 5px;
                        width: 100%;
                    }
                }
            }
        }
    }
}
